<html>
<head>
  <title>MakersBnB</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="<%= url('css/main.css') %> />

  <% if flash[:notice] %>
      <div id='notice'>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:errors] && !flash[:errors].empty? %>
      Please refer to the following errors below:
      <ul id='errors'>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>

</head>
<body>
  <% if current_user %>
   <h4>Welcome <%= current_user.name %>!</h4>
     <form method='post' action='/'>
       <input type='hidden' name='_method' value='delete'>
       <input type='submit' value='Sign out'>
     </form>
     <a type="button" class="button_styled" href="/spaces/new">Add new space</a><br>
  <% end %>

  <%= yield %>

</body>
</html>
