<html>
<head>
  <title>MakersBnB</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,800,900|Scope+One" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="<%= url('css/main.css') %>" />

</head>

<body>
  <% if flash[:notice] %>
  <div id='notice'>
    <%= flash[:notice] %>
  </div>
  <% elsif flash[:errors] && !flash[:errors].empty? %>
  Please refer to the following errors below:
  <ul id='errors'>
    <% flash[:errors].each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
  <% end %>

  <ul class="topnav">
    <li id="logo">
      <a href="/">MakersBnB</a>
    </li>
    <li class="right">
      <a>About</a>
    </li>
    <% if !current_user %>
    <li class="right">
      <a href="/users/signin">Sign In</a>
    </li>
    <li class="right">
      <a href="/users/signup">Sign Up</a>
    </li>
    <% end %>
    <% if current_user %>
    <li class="right">
      <a href="/spaces">Spaces</a>
    </li>
    <li class="right">
      <form method='post' action='/'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' class="button_styled" value='Sign out'>
      </form>
    </li>
    <% end %>
  </ul>
  <% if current_user %>
    <h4>Welcome <%= current_user.name %>!</h4>
  <% end %>

  <%= yield %>

</body>
</html>
